@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 24px;
  margin-right: 4px;
}

.pageContainer {
  background: url('src/assets/initPage_bg.jpeg');
  background-repeat: round;

  height: 100vh;
}
.homeBtn {
  background-color: black;
  border-radius: 8px;
  color: aliceblue;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 60px;
  padding-right: 60px;
  width: 464px;
}
.img1 {
  position: absolute;
  width: 299px;
  height: 299px;
  left: 1076px;
  top: 473px;
}
